# Ignore node_modules (common for Node.js projects)
node_modules/

# Ignore environment variable files
.env

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore build output directories
/build/
/dist/
sample.txt
maintest.bicep
python/.env
python/secrets.json
python/mock_performance_data.csv

