# Ignore environment variable files
.env

# Ignore data files
python/*.csv


# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore build output directories
/build/
/dist/
sample.txt
maintest.bicep
python/.env
python/secrets.json


