# Ignore environment variable files
.env

# Ignore data files
*.csv
*.txt

# Ignore macOS system files
.DS_Store

# Ignore logs
*.log

# Ignore build output directories
/build/
/dist/
sample.txt
maintest.bicep
python/.env
python/secrets.json
python/numbers.txt

